body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  monospace;
}

html, body, #root {
  width: 100%;
  height: 100%;
}

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

#game-field {
  height: 75vh;
}

#game-field svg {
  display: block;
  margin: auto;
}

#restart-button {
  background-color: #ce93d8;
  border: none;
  color: white;
  padding: 7px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  float: right;
  cursor: pointer;
}

#restart-button:hover {
  background-color: #ba68c8;
}

.status {
  padding: 10px 20px;
}

.status label {
  padding: 0 10px;
}

.slider-container {
  width: 30%;
  padding: 10px 20px;
  position: relative;
}

.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 2px;
  border-radius: 5px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: #4a148c;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #4a148c;
  cursor: pointer;
}

.slider-container .tooltip {
  visibility: hidden;
  background-color: #4a148c;
  color: #fff;
  text-align: center;
  padding: 5px 10px;
  border-radius: 3px;
  position: absolute;
  z-index: 1;
  top: 5px;
  left: 235px;
  min-width: max-content;
  transform: translateX(-50%);
  opacity: 0;
  transition: opacity 0.2s ease;
}

.slider-container:hover .tooltip {
  visibility: visible;
  opacity: .7;
}

